.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
}

.page-header-container {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
}

.menu {
    display: flex;
    align-items: center;
}

.header-list-contact {
    display: flex;
}